<template>
    <div>
        <button @click="selected = 'Confirmed'">Confirmed</button>
        |
        <button @click="selected = 'Death'">Death</button>
        |
        <button @click="selected = 'Recovered'">Recovered</button>
        <World :source="sourceDatas[selected]" :title="sourceTitles[selected]" :colors-axis="sourceColors[selected]"/>
    </div>
</template>

<script>
    import World from "../components/World";

    export default {
        name: "Global",
        components: {
            World
        },
        mounted() {
            this.selected = 'Confirmed';
        },
        data() {
            return {
                selected: '',
                sourceTitles: {
                    'Confirmed': 'Confirmed',
                    'Recovered': 'Recovered',
                    'Death': 'Death',
                },
                sourceDatas: {
                    'Confirmed': JSON.parse(localStorage.confirmed).data,
                    'Recovered': JSON.parse(localStorage.recovered).data,
                    'Death': JSON.parse(localStorage.death).data,
                },
                sourceColors: {
                    'Confirmed': {
                        dataClasses: [{
                            to: 50,
                            color: 'rgba(19,64,117,0.1)',
                        }, {
                            from: 50,
                            to: 100,
                            color: 'rgba(19,64,117,0.2)',
                        }, {
                            from: 100,
                            to: 500,
                            color: 'rgba(19,64,117,0.3)',
                        }, {
                            from: 500,
                            to: 1000,
                            color: 'rgba(19,64,117,0.4)',
                        }, {
                            from: 1000,
                            to: 5000,
                            color: 'rgba(19,64,117,0.5)',
                        }, {
                            from: 5000,
                            to: 10000,
                            color: 'rgba(19,64,117,0.6)',
                        }, {
                            from: 10000,
                            to: 50000,
                            color: 'rgba(19,64,117,0.7)',
                        }, {
                            from: 50000,
                            to: 100000,
                            color: 'rgba(19,64,117,0.8)',
                        }, {
                            from: 100000,
                            to: 500000,
                            color: 'rgba(19,64,117,0.9)',
                        }, {
                            from: 500000,
                            color: 'rgba(19,64,117,1)',
                        }]
                    },
                    'Recovered': {
                        dataClasses: [{
                            to: 50,
                            color: 'rgba(14,117,32,0.1)',
                        }, {
                            from: 50,
                            to: 100,
                            color: 'rgba(14,117,32,0.2)',
                        }, {
                            from: 100,
                            to: 500,
                            color: 'rgba(14,117,32,0.3)',
                        }, {
                            from: 500,
                            to: 1000,
                            color: 'rgba(14,117,32,0.4)',
                        }, {
                            from: 1000,
                            to: 5000,
                            color: 'rgba(14,117,32,0.5)',
                        }, {
                            from: 5000,
                            to: 10000,
                            color: 'rgba(14,117,32,0.6)',
                        }, {
                            from: 10000,
                            to: 50000,
                            color: 'rgba(14,117,32,0.7)',
                        }, {
                            from: 50000,
                            to: 100000,
                            color: 'rgba(14,117,32,0.8)',
                        }, {
                            from: 100000,
                            to: 500000,
                            color: 'rgba(14,117,32,0.9)',
                        }, {
                            from: 500000,
                            color: 'rgba(14,117,32,1)',
                        }]
                    },
                    'Death': {
                        dataClasses: [{
                            to: 50,
                            color: 'rgba(117,8,25,0.1)',
                        }, {
                            from: 50,
                            to: 100,
                            color: 'rgba(117,8,25,0.2)',
                        }, {
                            from: 100,
                            to: 500,
                            color: 'rgba(117,8,25,0.3)',
                        }, {
                            from: 500,
                            to: 1000,
                            color: 'rgba(117,8,25,0.4)',
                        }, {
                            from: 1000,
                            to: 5000,
                            color: 'rgba(117,8,25,0.5)',
                        }, {
                            from: 5000,
                            to: 10000,
                            color: 'rgba(117,8,25,0.6)',
                        }, {
                            from: 10000,
                            to: 50000,
                            color: 'rgba(117,8,25,0.7)',
                        }, {
                            from: 50000,
                            to: 100000,
                            color: 'rgba(117,8,25,0.8)',
                        }, {
                            from: 100000,
                            to: 500000,
                            color: 'rgba(117,8,25,0.9)',
                        }, {
                            from: 500000,
                            color: 'rgba(117,8,25,1)',
                        }]
                    },
                },
            }
        }
    }
</script>

<style scoped>

</style>