<template>
    <div id="app">
        <div style="max-width: 300px">
            <v-select v-model="countryState" label="name" :options="countriesSelect"></v-select>
        </div>
        <Donut v-if="confirmed !== null && death !== null && recovered !== null && sick !== null"
               :confirmed="confirmed"
               :death="death"
               :recovered="recovered"
               :sick="sick"
        />
        <stacked v-if="confirmed !== null && death !== null && recovered !== null && sick !== null"
                 :confirmed="confirmed"
                 :death="death"
                 :recovered="recovered"
                 :sick="sick"
        />
        <AreaStacked v-if="confirmed !== null && death !== null && recovered !== null && sick !== null"
                     :confirmed="confirmed"
                     :death="death"
                     :recovered="recovered"
                     :header="header"
                     :sick="sick"
        />
    </div>
</template>

<script>
    import Donut from "../components/Donut.vue";
    import Stacked from "../components/Stacked.vue";
    import AreaStacked from "../components/AreaStacked";

    export default {
        name: 'Single',
        components: {
            Donut: Donut,
            stacked: Stacked,
            AreaStacked: AreaStacked,
        },
        data() {
            return {
                countriesSelect: [],
                countryState: {name: 'France', meta: {country:'France', state: ''}},
                country: 'France',
                state: '',
                confirmed: null,
                recovered: null,
                death: null,
                header: null,
                sick: null,
            }
        },
        methods: {
            update() {
                let confirmed = JSON.parse(localStorage.confirmed);
                let recovered = JSON.parse(localStorage.recovered);
                let death = JSON.parse(localStorage.death);

                let h = death.data[0];

                let c = confirmed.data.filter(el => {
                    return el[0] === this.state && el[1] === this.country;
                })[0];
                let r = recovered.data.filter(el => {
                    return el[0] === this.state && el[1] === this.country;
                })[0];
                let d = death.data.filter(el => {
                    return el[0] === this.state && el[1] === this.country;
                })[0];

                c.splice(0, 4);
                d.splice(0, 4);
                r.splice(0, 4);
                h.splice(0, 4);

                let t = c.findIndex(e => e >= 30);
                h.splice(0, t);
                r.splice(0, t);
                d.splice(0, t);
                c.splice(0, t);

                let m = Math.min(c.length, d.length, r.length);
                this.header = h.splice(0, m);
                this.confirmed = c.splice(0, m).map(x => parseInt(x));
                this.death = d.splice(0, m).map(x => parseInt(x));
                this.recovered = r.splice(0, m).map(x => parseInt(x));

                this.sick = [];
                for (let i = 0; i < this.confirmed.length; i++) {
                    this.sick.push(this.confirmed[i] - this.death[i] - this.recovered[i]);
                }
            }
        },
        mounted() {
            this.update();

            let confirmed = JSON.parse(localStorage.confirmed).data;
            for (let i = 1; i < confirmed.length; i++) {
                let l = confirmed[i];
                if(l[0] !== '') {
                    this.countriesSelect.push({name: l[1] + ' - ' + l[0], meta: {country: l[1], state: l[0]}});
                } else {
                    this.countriesSelect.push({name: l[1], meta: {country: l[1], state: l[0]}});
                }
            }
        },
        watch: {
            countryState() {
                this.country = this.countryState.meta.country;
                this.state = this.countryState.meta.state;
                this.update();
            }
        },
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
