<template>
    <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: "AreaStacked",
        components: {
            apexchart: VueApexCharts,
        },
        props: {
            confirmed: [Array],
            recovered: [Array],
            death: [Array],
            header: [Array],
            sick: [Array],
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        type: 'area',
                        height: 350,
                        stacked: true,
                        events: {
                            selection: function (chart, e) {
                                console.log(new Date(e.xaxis.min))
                            }
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            opacityFrom: 0.6,
                            opacityTo: 0.8,
                        }
                    },
                    legend: {
                        position: 'top',
                        horizontalAlign: 'left'
                    },
                    xaxis: {
                        type: 'datetime'
                    },
                },
            }
        },
        //  c - d - r
        computed: {
            series() {
                let d = [].concat(this.death);
                let valD = [];
                for(let i = 0; i < this.header.length; i++) {
                    valD.push([
                        Date.parse(this.header[i]),
                        d[i]
                    ]);
                }

                let r = [].concat(this.recovered);
                let valR = [];
                for(let i = 0; i < this.header.length; i++) {
                    valR.push([
                        Date.parse(this.header[i]),
                        r[i]
                    ]);
                }

                let s = [].concat(this.sick);
                let valS = [];
                for(let i = 0; i < this.header.length; i++) {
                    valS.push([
                        Date.parse(this.header[i]),
                        s[i]
                    ]);
                }

                return [
                    {
                        name: 'Death',
                        data: valD,
                    },
                    {
                        name: 'Recovered',
                        data: valR,
                    },
                    {
                        name: 'Sick',
                        data: valS,
                    },
                ];
            }
        },
    }
</script>

<style scoped>

</style>