<template>
    <apexchart type="pie" width="380" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: "Donut",
        components: {
            apexchart: VueApexCharts,
        },
        props: {
            confirmed: [Array],
            recovered: [Array],
            death: [Array],
            sick: [Array],
        },
        data() {
          return {
              chartOptions: {
                  chart: {
                      width: 380,
                      type: 'pie',
                  },
                  labels: ['Death', 'Recovered', 'Sick'],
                  responsive: [{
                      breakpoint: 480,
                      options: {
                          chart: {
                              width: 200
                          },
                          legend: {
                              position: 'bottom'
                          }
                      }
                  }]
              },
          }
        },
        computed: {
            series() {
                return [this.death[this.death.length-1], this.recovered[this.recovered.length-1], this.sick[this.sick.length-1]];
            }
        },
    }
</script>

<style scoped>

</style>