<template>
    <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        name: "Stacked",
        components: {
            apexchart: VueApexCharts,
        },
        props: {
            confirmed: [Array],
            recovered: [Array],
            death: [Array],
            sick: [Array],
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        type: 'bar',
                        height: 350,
                        stacked: true,
                        stackType: '100%'
                    },
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            legend: {
                                position: 'bottom',
                                offsetX: -10,
                                offsetY: 0
                            }
                        }
                    }],
                   /* xaxis: {
                        categories: ['2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1', '2012 Q2',
                            '2012 Q3', '2012 Q4'
                        ],
                    },*/
                    fill: {
                        opacity: 1
                    },
                    legend: {
                        position: 'right',
                        offsetX: 0,
                        offsetY: 50
                    },
                },
            }
        },
        //  c - d - r
        computed: {
            series() {
                return [
                    {
                        name: 'Death',
                        data: this.death,
                    },
                    {
                        name: 'Recovered',
                        data: this.recovered,
                    },
                    {
                        name: 'Sick',
                        data: this.sick,
                    },
                ];
            }
        },
    }
</script>

<style scoped>

</style>