<template>
    <div>
        <highcharts :constructor-type="'mapChart'" :options="mapOptions" class="map"></highcharts>
        Source map: <a href="http://code.highcharts.com/mapdata/custom/world.js">World, Miller projection, medium
        resolution</a>
    </div>
</template>

<script>
    import {getCode} from 'country-list';

    export default {
        props: {
            title: {type: String, default: ''},
            source: {
                type: Array,
                default: function () {
                    return []
                }
            },
            colorsAxis: {
                type: Object,
                default: function () {
                    return {}
                }
            },
        },
        watch: {
            title() {
                this.mapOptions.title.text = this.title;
            },
            colorsAxis() {
                this.mapOptions.colorAxis = this.colorsAxis;
            },
            source() {
                this.mapOptions.series[0].data = [];
                for (let i = 1; i < this.source.length; i++) {
                    let l = this.source[i];
                    let code = '';

                    if (l[1] === undefined) {
                        continue;
                    }
                    code = getCode(l[1]);
                    if (code === undefined) {
                        if (l[1] === 'Russia') {
                            code = 'RU';
                        } else if (l[1] === 'Laos') {
                            code = 'LA';
                        } else if (l[1] === 'Syria') {
                            code = 'SY';
                        } else if (l[1] === 'Vietnam') {
                            code = 'VN';
                        } else if (l[1] === 'Venezuela') {
                            code = 'VE';
                        } else if (l[1] === 'US') {
                            code = 'US';
                        } else if (l[1] === 'Tanzania') {
                            code = 'TZ';
                        } else if (l[1] === 'Korea, South') {
                            code = 'KR';
                        } else if (l[1] === 'Iran') {
                            code = 'IR';
                        } else if (l[1] === 'Cote d\'Ivoire') {
                            code = 'CI';
                        } else if (l[1] === 'Brunei') {
                            code = 'BN';
                        } else if (l[1] === 'Bolivia') {
                            code = 'BO';
                        } else if (l[1] === 'Taiwan*') {
                            code = 'TW';
                        } else if (l[1] === 'United Kingdom') {
                            code = 'GB';
                        } else if (l[1] === 'Brunei') {
                            code = 'BN';
                        } else if (l[1] === 'Congo (Brazzaville)') {
                            code = 'Central African Republic';
                        } else if (l[1] === 'Congo (Kinshasa)') {
                            code = 'CD';
                        } else if (l[1] === 'Moldova') {
                            code = 'MD';
                        } else if (l[1] === 'Burma') {
                            code = 'MM';
                        } else if (l[1] === 'West Bank and Gaza') {
                            continue;
                        } else if (l[1] === 'Kosovo') {
                            continue;
                        } else if (l[1] === 'MS Zaandam') {
                            continue;
                        } else if (l[1] === 'Diamond Princess') {
                            continue;
                        } else {
                            console.log(l[1]);
                            continue;
                        }
                    }

                    let v = [code.toLowerCase()];
                    const result = this.mapOptions.series[0].data.findIndex(word => word[0] === code.toLowerCase());
                    let last = parseInt(l[l.length -1]);
                    if (result !== -1) {
                        let old = this.mapOptions.series[0].data.splice(result, 1)[0];
                        v.push(last + parseInt(old[1]));
                    } else {
                        v.push(last);
                    }
                    this.mapOptions.series[0].data.push(v);
                }
            }
        },
        data() {
            return {
                mapOptions: {
                    chart: {
                        map: 'custom/world' // change to imported map
                    },
                    title: {
                        text: '' // will be set via watch
                    },
                    legend: {
                        layout: 'horizontal',
                        borderWidth: 0,
                        backgroundColor: 'rgba(255,255,255,0.85)',
                        floating: true,
                        verticalAlign: 'top',
                        y: 25
                    },
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            alignTo: 'spacingBox'
                        }
                    },
                    colorAxis: {},
                    series: [{
                        name: this.title,
                        states: {
                            hover: {
                                color: '#d531da'
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        },
                        allAreas: false,
                        data: []
                    }]
                }
            }
        }
    }
</script>
<style scoped>
    .map {
        min-height: 1000px;
    }
</style>
